body {
    margin: 0%;
}

.headerandhero {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0 14px 24px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 14px;
    padding: 14px 24px 14px 0;
}

img {
    height: 150px;
    width: 360px;
    padding: 24px 24px 48px 24px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    display: flex; 
    justify-content: center;   
}

.heromain {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    width: 600px;
}

.herosecondary {
    color: #E5E7EB;
    font-size: 18px;
    width: 400px;
}

.herotext {
    padding: 24px 24px 48px 24px;
}